name: PR Check
# Trigger the workflow only on Pull Requests targeting the 'main' branch
on:
  pull_request:
    branches: [ "main" ]
jobs:
  checkout-and-install-gradle:
    # Use the latest Ubuntu runner (efficient for most Android/KMP builds)
    runs-on: ubuntu-latest
    steps:
      # Step 1: Check out your repository's code
      - name: Checkout code
        uses: actions/checkout@v4
      # Step 2: Set up Java (required for Android/Gradle builds)
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

#      - name: Setup Android SDK
#        uses: android-actions/setup-android@v3
#
#      - name: Accept Android SDK license
#        run: yes | $ANDROID_HOME/tools/bin/sdkmanager --licenses || if [ $? -ne '141' ]; then exit $?; fi;  #Captures SIGPIPE 141 error but still allow repeating "y" to accept all licenses

      # Step 3: Setup Gradle with caching (speeds up subsequent builds)
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      # Step 4: Build the application
      # This ensures the code compiles and all resources are valid.
      - name: Build
        run: ./gradlew :androidApp:assembleDevDebug
      # Step 5: Run your tests
      # This command runs unit tests for all modules.
      - name: Run Android Unit + UI Runtime Robolectric Tests
        run: ./gradlew :composeApp:testAndroidHostTest
      # Step 5: Run your tests
      # This command runs unit tests for all modules.
#  Build iOS:
#    needs:
#      - Checkout And Install Gradle
#    runs-on: macos-latest
#    steps:
#      - name: Run iOS Unit + UI Native Tests
#        run: ./gradlew :composeApp:iosSimulatorArm64Test